<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col col-6 offset-3">


            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p>Oh No! It seems we have an error somewhere.</p>
                <hr>
                <p class="mb-0">Go back and try again.</p>
                <p>
                    <%= err.stack %>
                </p>
            </div>
        </div>
    </div>